<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.mohaberabi.inspekt.inspektlibrary.ui.InspektActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="false"
            android:taskAffinity="com.mohaberabi.inspekt.libraryactivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="inspekt"
                    android:host="open"
                    android:pathPrefix="/logs" />
            </intent-filter>
        </activity>

    </application>

</manifest>